[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/lusty"]
	path = vim/bundle/lusty
	url = git://github.com/sjbach/lusty.git
[submodule "vim/bundle/phpfolding"]
	path = vim/bundle/phpfolding
	url = git://github.com/vim-scripts/phpfolding.vim.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/php-namespace"]
	path = vim/bundle/php-namespace
	url = git://github.com/arnaud-lb/vim-php-namespace.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/abolish"]
	path = vim/bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/bundle/jade"]
	path = vim/bundle/jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/sparkup"]
	path = vim/bundle/sparkup
	url = git://github.com/rstacruz/sparkup.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "tmux/powerline"]
	path = tmux/powerline
	url = git://github.com/erikw/tmux-powerline.git
[submodule "vim/bundle/ghcmod"]
	path = vim/bundle/ghcmod
	url = git://github.com/eagletmt/ghcmod-vim.git
[submodule "vim/bundle/proc"]
	path = vim/bundle/proc
	url = git://github.com/Shougo/vimproc.git
[submodule "vim/bundle/vim2hs"]
	path = vim/bundle/vim2hs
	url = git://github.com/dag/vim2hs.git
[submodule "vim/bundle/hoogle"]
	path = vim/bundle/hoogle
	url = git://github.com/Twinside/vim-hoogle.git
[submodule "vim/bundle/neco-ghc"]
	path = vim/bundle/neco-ghc
	url = git://github.com/ujihisa/neco-ghc.git
[submodule "vim/bundle/neocomplcache"]
	path = vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/phpspec"]
	path = vim/bundle/phpspec
	url = git://github.com/Herzult/phpspec-vim.git
